.container {
  height: 12%;
  text-align: center;
  color: #fff;
  padding: 5% 10%;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.4em;
}

.value-changer {
  background-color: none;
  padding: 2px 20px;
  margin: 0 5%;
  border: 1px solid;
  border-radius: 100%;
}


@media only screen
and (max-device-width : 320px) {
  .container {
    height: 18%;
  }
}
